* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Protest Strike';
    font-style: normal;
    font-weight: 400;
    
 }

 li {
    list-style: none;
 }

 main {
    width: 60%;
    margin-left: 20%;
    background-color:lightskyblue;
 }
 header {
    background-color: lightblue;
    color: whitesmoke;
    height: 100px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
header a {
   text-decoration: none;
   display: inline-flex;
   padding: 10px;
   background-color: midnightblue;
   color: whitesmoke;
   border-radius: 10px;
 }
section h1 {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 80%;
  padding: 10px;
  margin: 10px;
}
section div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px;
  
}
input[type=number] {
  display: inline-flex;
  width: 50%;
  height: 50px;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  border: 2px black solid;
  border-radius: 10px;
}
section button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  background-color: lightskyblue;
  color: whitesmoke;
  border: 0;
}
section button:hover {
  cursor: pointer;
  background-color: midnightblue;
  color: whitesmoke;
}
section div img:hover {
  cursor: pointer;
}
section div #msg {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px;
  padding: 10px;
  margin: 10px;
  font-size: 32px;
}